/* * {
  box-sizing: border-box;
} */
body {
  margin: 10px;
  background-color: #ececec;
}

#wrapper {
  display: flex;
  position: relative;
/*  width: 1300px;
  height: 800px;
  background-color: white;
  margin: auto;*/
}

#gameScreen {
  width: 1300px;
  height: 900px;
  /* background-color: white; */
  border: 1px solid black;
  /* border-bottom: none; */
  position: relative;
  background-image: url('../img/bg.jpg');
}

 /* .info {
  top: 0 !important;
} */
/*
.score {
  top: 0;
}

.timer {
  top:0 !important;
} */

#score {
  /* padding: 20px; */
  width: 280px;
  height: 900px;
  background-color: white;
  border: 1px solid black;
}

#time {
  /* padding: 20px; */
  width: 280px;
  height: 900px;
  background-color: white;
  border: 1px solid black;
  position: relative;
}

#duck {
  position: absolute;
  background-color: yellow;
  width: 50px;
  height: 50px;
}