/* * {
  box-sizing: border-box;
} */
body {
  margin: 10px;
  background-color: black;
}

#wrapper {
  display: flex;
  position: relative;
/*  width: 1300px;
  height: 800px;
  background-color: white;
  margin: auto;*/
}

#gameScreen {
  width: 1450px;
  height: 875px;
  /* background-color: white; */
  border: 1px solid black;
  /* border-bottom: none; */
  position: relative;
  background-image: url('../img/bg.jpg');
}

 /* .info {
  top: 0 !important;
} */
/*
.score {
  top: 0;
}

.timer {
  top:0 !important;
} */

#score {
  /* padding: 20px; */
  width: 250px;
  height: 875px;
  background-color: grey;
  border: 1px solid black;
}

#time {
  /* padding: 20px; */
  width: 250px;
  height: 875px;
  background-color: grey;
  border: 1px solid black;
  position: relative;
}

#duck {
  /* position: absolute; */
  /* background-color: yellow; */
  width: 100px;
  height: 100px;
  /* right: 100 !important */
}